header {background: #CA6F1E;color:#FFFFFF;
min-height:50px;
}
footer {background: #CA6F1E;color:#FFFFFF;
min-height:30px;
}
body{
 font-family: "Georgia";
    font-size: 120%
}
h1{
    font-family: "Georgia";
    font-size: 120%;
    font-weight: bold;
    color:#e6ffff 
}
.container{
    width:800px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: left;
    float:left;
}
.banner{
    width:100%;
    background-color: #006666;
        
}

.item-left{
    background-color: #003333;/*dark blue */
    flex: 1 100%;
    float:left;
    width:75%;
    }
.item-right{
    background-color: #ccffff;/*light blue */
    flex: 1 100%;
    float:left;
    width:25%;
    }
