header {background: #CA6F1E;color:#FFFFFF;
min-height:50px;
}
footer {background: #CA6F1E;color:#FFFFFF;
min-height:30px;
}


.flex-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: left;
    float:left;
}

.flex-item{
    background-color: #FFFFFF;
    flex: 1 100%;
    margin: 10px;
    float:left;
    width:50%;
    }


.nav {background:#CA6F1E;}

.nav ul {
    list-style-type: none;
 padding: 10;
}
   
.nav ul a {
 text-decoration: none;
}
